* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @extend %default-roboto;
  color: $text-default;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 1200px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
}

/* button start */
.btn {
  @include btn;
  background: $red;
  box-shadow: 0px 0px 38px 0px rgba(212, 66, 50, 0.8);
  &:hover {
    background: #ec4b38;
  }

  @media screen and (max-width: 576px) {
    font-size: 16px;
    width: 220px;
    padding: 16px 20px;
  }
}
/* button end */

/* phone start */
.phone__item {
  @extend %default-montserrat;
  color: $text-white;
  border: 3px solid $text-white;
  border-radius: 21.5px;
  padding: 8px 16px;
  transition: color 0.2s, background 0.2s, opacity 0.2s;

  &:hover {
    color: $text-title;
    background: $text-white;
  }

  &:active {
    opacity: 0.8;
  }
}
/* phone end */

/* btn-menu start */
.btn-menu {
  background: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  padding: 15px;
  border: 0;
  &__box {
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  &__inner {
    display: block;
    top: 50%;
    position: relative;
    &,
    &::before,
    &::after {
      width: 100%;
      height: 4px;
      background-color: $text-white;
      border-radius: 5px;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }
    &::before {
      bottom: -10px;
    }
    &::after {
      top: -10px;
    }
  }
}
/* btn-menu end */

/* section start */
.section {
  padding: 110px 0;
  &__title {
    @extend %title-montserrat;
    text-align: center;
    font-size: 48px;
    margin: 0 auto 40px;
    &--accent {
      color: $orange;
    }
  }
  &-header {
    margin-bottom: 90px;
  }
}

@media (max-width: 576px) {
  .section {
    padding: 90px 0;
    &__title {
      font-size: 36px;
    }
  }
}
/* section end */

/* socials start */
.socials {
  @include flex(flex-start);
  gap: 10px;

  @media (max-width: 767px) {
    gap: 20px;
  }
  &__item {
  }
  &__link {
    display: inline-block;
  }
  &__icon {
    fill: $orange;
    width: 35px;
    height: 35px;
    transition: fill 0.2s, opacity 0.2s;

    @media (max-width: 767px) {
      width: 45px;
      height: 45px;
    }
    &:active {
      opacity: 0.7;
    }
    &--vk:hover {
      fill: #5078a5;
    }
    &--fb:hover {
      fill: #3e58a1;
    }
    &--inst:hover {
      fill: #e6369c;
    }
  }
  &__logo {
    fill: $text-white;
  }
}
/* socials end */

/* popup start */
.popup {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  overflow: auto;
  &.is-active {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
  }
  &__wrapper {
    display: table;
    height: 100%;
    width: 100%;
  }
  &__inner {
    display: table-cell;
    vertical-align: middle;
    padding: 50px 0;

    @media (max-width: 767px) {
      padding: 0;
    }
  }
  &__content {
    background-color: #fff;
    padding: 70px 20px;
    max-width: 730px;
    margin: 0 auto;
    position: relative;
    border-radius: 20px;

    @media (max-width: 767px) {
      max-width: 100%;
      height: 100%;
      border-radius: 0;
    }
    &--fluid {
      padding-left: 0;
      padding-right: 0;
    }
    &--centered {
      @include flex;
      flex-direction: column;
    }
  }
  &__title {
    @extend %title-montserrat;
    text-align: center;
    font-size: 42px;
    margin: 0 auto 20px;
    color: $text-title;

    @media (max-width: 767px) {
      font-size: 36px;
    }
  }
  &__subtitle {
    margin: 0;
    text-align: center;
    @extend %default-roboto;
    font-size: 24px;
    &--order {
      max-width: 360px;
      margin: 0 auto 40px;

      @media (max-width: 767px) {
        max-width: 260px;
      }
    }

    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
  &__btn-close.btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  &__phone {
    margin: 40px 0;
  }
  &__link {
    white-space: nowrap;
  }
}
/* popup end */

/* btn-close start */
.btn-close {
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  width: 50px;
  height: 50px;
  display: inline-block;
  transform: scale(1);
  transition: transform 0.2s ease, opacity 0.2s;
  &::before,
  &::after {
    content: "";
    background-color: $text-default;
    position: absolute;
    height: 40px;
    width: 3px;
    top: 50%;
    border-radius: 10px;
  }
  &::after {
    transform: translateY(-50%) rotate(45deg);
  }
  &::before {
    transform: translateY(-50%) rotate(-45deg);
  }
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(0.9);
    opacity: 0.8;
  }
}
/* btn-close end */

/* mobile-menu start */
.mobile-menu {
  width: 100%;
  &__link {
    display: block;
    padding: 20px;
    @extend %title-montserrat;
    color: $text-title;
    text-align: center;
    font-size: 24px;
    opacity: 1;
    transition: background 0.2s, color 0.2s, opacity 0.2s;
    &:hover {
      background-color: $orange;
      color: $text-white;
    }
    &:active {
      opacity: 0.8;
    }
  }
}
.phone {
  // margin: 20px 0;
  &__item--accent {
    border-color: $orange;
    color: $orange;
    &:hover {
      background: $orange;
      color: $text-white;
    }
  }
}
/* mobile-menu end */

/* order start */
.order {
  max-width: 310px;
  margin: 0 auto;
  &__img {
    width: 186px;
    display: block;
    margin: 0 auto 10px;
  }
  &__title {
    @extend %title-montserrat;
    text-align: center;
    margin: 0 0 5px;
    color: $text-title;
  }
  &__size {
    @extend %title-montserrat;
    text-align: center;
    margin: 0 0 30px;
  }
}
/* order end */

/* form start */
.form {
  &__input {
    display: block;
    width: 100%;
    padding: 20px 28px;
    background-color: $input-bg;
    border-radius: 32px;
    margin-bottom: 10px;
    border: 2px solid transparent;
    outline: none;
    &:focus {
      border-color: $orange;
    }
  }
  &__btn {
    box-shadow: none;
    width: 100%;
    padding: 22px 28px;
    background-color: $orange;
    border-radius: 50px;
  }
}
/* form end */
