@import "vars";
@import "normalize";
@import "global";

/* header-page start*/
.header-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: $header-bg;
  padding: 10px 0;
  overflow: hidden;

  @media screen and (max-width: 992px) {
    padding: 5px 0;
  }
  &__container {
    @include flex(space-between);
  }
  &__end {
    @include flex(none);
  }
  &__nav {
    margin-right: 15px;
  }
  &__ul {
    display: flex;

    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  &__link {
    color: $text-white;
    display: block;
    padding: 15px 30px;
    @extend %default-montserrat;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: calc(100% + 20px);
      transform: translateY(-50%);
      background-color: $text-white;
      opacity: 0;
      transition: all 0.2s;
    }
    &:hover::before {
      opacity: 1;
    }
    &:hover .header-page__text {
      color: $text-title;
    }

    @media screen and (max-width: 1200px) {
      font-size: 16px;
      padding: 12px 30px;
    }
  }
  &__text {
    position: relative;
    transition: color 0.2s;
  }
  &__phone {
    @media screen and (max-width: 1200px) {
      font-size: 16px;
    }
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
  &__hamburger {
    display: none;
    margin-right: -15px;

    @media screen and (max-width: 992px) {
      display: block;
    }
  }
}
/* header-page end */

/* section-top start*/
.section-top {
  height: 100vh;
  min-height: 600px;
  padding: 170px 0 100px;
  background-color: $text-title;
  background-image: url(../images/section-top/bg.jpg);
  @include bg;
  color: $text-white;
  @include flex;
  text-align: center;
  position: relative;

  @media screen and (max-width: 992px) {
    padding: 150px 0 100px;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.5);
  }
  &__container {
    position: relative;
    width: 520px;
  }
  &__info {
    color: $yellow;
    @extend %title-montserrat;

    @media screen and (max-width: 576px) {
      font-size: 18px;
    }
  }
  &__title {
    @extend %title-montserrat;
    font-size: 55px;
    margin: 0 0 35px;

    @media screen and (max-width: 576px) {
      font-size: 40px;
    }

    @media screen and (max-width: 400px) {
      font-size: 34px;
    }
  }
}
/* section-top end */

/* catalog-nav start */
.catalog-nav {
  @include flex;

  @media screen and (max-width: 767px) {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
  }
  &__wrapper {
    @include flex;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.25);
    border-radius: 23px;
    overflow: hidden;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      width: 100%;
      border-radius: 10px;
    }
  }
  &__btn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 14px;
    @extend %default-montserrat;
    min-width: 150px;
    color: $text-menu;
    transition: background 0.2s ease, color 0.2s;
    border-right: 2px solid $text-menu;
    transition: background 0.5s ease, color 0.2s, border 0.5s;

    @media screen and (max-width: 767px) {
      min-width: 0;
      width: 100%;
      border-top: 1px solid $text-menu;
    }
    &.is-active {
      background-color: $text-title;
      color: $text-white;
      border-color: $text-title;
    }
    &:not(.is-active):hover {
      background-color: $orange;
      border-right-color: $orange;
      color: $text-white;
    }
  }
  &__item:last-of-type .catalog-nav__btn {
    border-right: 0;
  }
  &__item:nth-of-type(1) .catalog-nav__btn,
  &__item:nth-of-type(2) .catalog-nav__btn {
    @media screen and (max-width: 767px) {
      border-top: 0;
    }
  }
  &__item:nth-of-type(even) .catalog-nav__btn {
    @media screen and (max-width: 767px) {
      border-right: 0;
    }
  }
  &__item {
    @media screen and (max-width: 767px) {
      width: 50%;
      flex-grow: 1;
    }
  }
}
/* catalog-nav end */

/* catalog start */
.catalog {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -35px;
  &__product {
    @media (max-width: 767px) {
      width: 350px;
      max-width: 100%;
      margin: 0 auto;
      border-bottom: 2px solid $text-menu;
      padding-bottom: 50px;
    }
  }
  &__item {
    width: calc(100% / 3);
    margin-bottom: 90px;
    padding: 0 35px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-color: $text-menu;
      height: 100%;
      width: 3px;
      left: 0;
      transform: translateX(-50%);
    }
    &:nth-of-type(3n + 1)::before {
      content: none;
    }
    &:nth-of-type(even)::before {
      @media screen and (max-width: 992px) {
        content: "";
      }
    }
    &:nth-of-type(odd)::before {
      @media screen and (max-width: 992px) {
        content: none;
      }
    }
    &:nth-of-type(n)::before {
      @media (max-width: 767px) {
        content: none;
      }
    }
    &:last-of-type {
      @media (max-width: 767px) {
        margin-bottom: 0;
      }
    }
    &:last-of-type .catalog__product {
      @media (max-width: 767px) {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
    @media screen and (max-width: 1250px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media screen and (max-width: 992px) {
      width: 50%;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      margin-bottom: 50px;
    }
  }

  @media screen and (max-width: 1250px) {
    margin: 0 -20px;
  }
}
/* catalog end */

/* product start */
.product {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  &__img {
    display: block;
    margin: 0 auto 15px;
  }
  &__title {
    margin: 0 0 15px;
    @extend %title-montserrat;
    color: $text-title;
  }
  &__description {
    color: $text-default;
  }
  &__content {
    margin-bottom: 25px;
    flex: 1;
  }
  &__sizes {
    @include flex(space-between);
    margin-bottom: 30px;
    border-radius: 21px;
    overflow: hidden;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.15);
  }
  &__size {
    border: 0;
    border-radius: 21px;
    color: $text-menu;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    @extend %default-montserrat;
    padding: 15px 33px;
    &.is-active {
      color: $btn-active;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    }

    @media (min-width: 993px) and (max-width: 1200px) {
      padding: 15px 25px;
    }

    @media (max-width: 400px) {
      padding: 15px 20px;
    }
  }
  &__price {
    @extend %title-montserrat;
    color: $text-title;

    @media (max-width: 370px) {
      font-size: 20px;
    }
  }
  &__bottom {
    @include flex(space-between);
  }
  &__btn {
    box-shadow: none;
    background-color: $orange;
    width: 200px;
    padding: 14px 20px;
    text-transform: lowercase;
    transition: background 0.3s ease;
    &:hover {
      background-color: $orange-hover;
    }
  }
}
/* product end */

/* section about start */
.section-about {
  background: linear-gradient(to top, #2b2b2b, $text-title);
  color: $text-white;
  position: relative;

  @media (max-width: 1200px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  &__img {
    position: absolute;
    width: 50%;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;

    @media (max-width: 767px) {
      width: 100%;
    }
  }
  &__container {
    position: relative;
    @include flex(flex-end);
    width: 1400px;

    @media (max-width: 767px) {
      justify-content: center;
    }
  }
  &__content {
    padding-left: 80px;
    width: 50%;

    @media (max-width: 1200px) {
      padding-left: 50px;
    }
    @media (max-width: 767px) {
      padding-left: 0;
      max-width: 100%;
      width: 500px;
    }
  }
  &__title {
    text-align: left;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 18px;
    line-height: 1.67;
  }
}
/* section about end */

/* section contacts start */
.section-contacts {
  overflow: hidden;

  @media (max-width: 767px) {
    padding-bottom: 0;
  }
  &__title {
    color: $text-title;
  }
  &__container {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/section-contacts/tomatoes.jpg);
      @include bg;
      bottom: -100px;
      right: -350px;
      height: 397px;
      width: 672px;
      z-index: -1;

      @media (max-width: 1800px) {
        right: -250px;
      }
      @media (max-width: 1600px) {
        right: -150px;
        bottom: -200px;
      }
      @media (max-width: 1400px) {
        right: -100px;
      }
      @media (max-width: 1300px) {
        right: -50px;
      }
      @media (max-width: 1200px) {
        content: none;
      }
    }
  }
}
.contacts {
  @include flex;
  position: relative;

  @media (max-width: 767px) {
    flex-wrap: wrap;
  }
  &__start {
    width: 50%;

    @media (max-width: 767px) {
      width: 100%;
      order: 1;
    }
  }
  &__end {
    width: 50%;
    padding-left: 30px;

    @media (max-width: 767px) {
      width: 400px;
      margin-bottom: 40px;
      padding-left: 0;
      max-width: 100%;
    }
  }
  &__map {
    height: 450px;
    background-color: $bg-map;

    @media (max-width: 992px) {
      height: 350px;
    }
    @media (max-width: 767px) {
      margin: 0 -20px;
    }
  }
  &__item {
    margin-bottom: 35px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__title {
    @extend %default-montserrat;
    color: $text-title;
    margin-bottom: 5px;
  }
  &__text {
    @extend %default-roboto;
  }
  &__phone {
    @extend %default-roboto;
    transition: color 0.2s ease;
    &:hover {
      color: $orange;
    }
  }
}
/* section contacts end */

/* section contacts start */
.footer-page {
  padding: 25px 0;
  background-color: $header-bg;
  &__text {
    text-align: center;
    @extend %default-montserrat;
    color: $text-default;
  }
}
/* section contacts end */
